<h1>Список моих книг</h1>

<style>
  body { background: linear-gradient(to right, #EB3349, #F45C43); overflow-y:
  hidden; height: 100vh; } h1 { text-align: center; } .books-block {display:
  flex; justify-content: space-between; margin-top: 50px;} h2 {text-align:
  center; margin-bottom: 50px;} a {display: flex; justify-content: center;
  text-decoration: none; width: 300px; height: 50px; margin: 0 auto;
  background-color: white; color: black; line-height: 50px; text-align: center;
  border-radius: 10px;} a:hover { background-color: black; color: white;
  transition: all 500ms ease; -webkit-box-shadow: 5px 5px 5px 2px rgba(140, 0,
  255, 0.6); -moz-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
  box-shadow: 5px 5px 5px 2px rgba(0, 255, 246, 0.6); }
</style>

<div class="books-block">
  <div class="book">
    <img
      src="https://img3.labirint.ru/rc/dfb7e7d37b708ee76d1c907fc2e44f4a/363x561q80/books55/544629/cover.jpg?1612351761"
      alt="image"
      width="250px"
      height="400px"
    />
    <h2>{{book1}}</h2>
  </div>
  <div class="book">
    <img
      src="https://s1.livelib.ru/boocover/1000909768/o/331a/Dzhodzho_Mojes__Korabl_nevest.jpeg"
      alt="image"
      width="250px"
      height="400px"
    />
    <h2>{{book2}}</h2>
  </div>
  <div class="book">
    <img
      src="https://img4.labirint.ru/rc/d7213a42cfca85052753caaef12e11fc/363x561q80/books71/708744/cover.jpg?1567608435"
      alt="image"
      width="250px"
      height="400px"
    />
    <h2>{{book3}}</h2>
  </div>
  <div class="book">
    <img
      src="https://cdn.azbooka.ru/cv/w1100/d378bcd7-cb0d-4778-80b7-fe21cadb2d2d.jpg"
      alt="image"
      width="250px"
      height="400px"
    />
    <h2>{{book4}}</h2>
  </div>
  <div class="book">
    <img
      src="https://cv4.litres.ru/pub/c/cover_200/8643848.jpg"
      alt="image"
      width="250px"
      height="400px"
    />
    <h2>{{book5}}</h2>
  </div>
</div>

<a href="/">Вернуться на главную страницу</a>