<h2 class='color1'>Список моих друзей</h2 class='color'>


<style>

    body {
        background: linear-gradient(to right, #EB3349, #F45C43);
        height: 100vh;
        overflow-y: hidden;
    }

    .friends-block {
        display: flex;
        justify-content: space-evenly;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    h2  {
        text-align: center;
    }

    

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        width: 400px;
        height: 50px;
        border: none;
        background-color: white;
        color: black;
        border-radius: 10px;
        line-height: 50px;
        margin:  0 auto;
    }

    a:hover {
      background-color: black;
      color: white;
      transition: all 500ms ease;
      -webkit-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      -moz-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      box-shadow: 5px 5px 5px 2px rgba(0, 255, 246, 0.6);
    }

    .color1 {
      font-size: 30px;
    }
</style>

<div class="friends-block">
  <div class="Baatyr">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5986/5986311.png"
      alt="Baatyr"
      width="150px"
    />
    <h2 class='color'>{{fr1}}</h2>
  </div>
  <div class="Baatyr">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5986/5986315.png"
      alt="Baatyr"
      width="150px"
    />
    <h2 class='color'>{{fr2}}</h2>
  </div>
  <div class="Baatyr">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5986/5986311.png"
      alt="Baatyr"
      width="150px"
    />
    <h2 class='color'>{{fr3}}</h2>
  </div>
  <div class="Baatyr">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5986/5986311.png"
      alt="Baatyr"
      width="150px"
    />
    <h2 class='color'>{{fr4}}</h2>
  </div>
  <div class="Baatyr">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5986/5986315.png"
      alt="Baatyr"
      width="150px"
    />
    <h2 class='color'>{{fr5}}</h2>
  </div>
</div>

<a href="/">Вернуться на главную страницу ➡</a>