<h1>Список моих увлечений</h1>

<style>

    body {
        height: 100vh;
        overflow-y: hidden;
        background: linear-gradient(to right, #EB3349, #F45C43);
    }

    .hobbies-block {
        display: flex;
        justify-content: space-between;
        margin: 50px 0px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    a {
        width: 400px;
        height: 50px;
        display: flex;
        background-color: white;
        font-size: 20px;
        justify-content: center;
        margin: 0 auto;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        line-height: 50px;
    }

    a:hover {
        background-color: black;
        color: white;
        transition: all 500ms ease;
        -webkit-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      -moz-box-shadow: 5px 5px 5px 2px rgba(140, 0, 255, 0.6);
      box-shadow: 5px 5px 5px 2px rgba(0, 255, 246, 0.6);
    }
</style>

<div class="hobbies-block">
  <div class="hobby">
    <img
      src="https://cdn-icons-png.flaticon.com/512/4997/4997543.png"
      alt="football"
      width="150px"
      height="150px"
    />
    <h2>{{hobby1}}</h2>
  </div>
  <div class="hobby">
    <img
      src="https://cdn-icons-png.flaticon.com/512/330/330425.png"
      alt="football"
      width="150px"
      height="150px"
    />
    <h2>{{hobby2}}</h2>
  </div>
  <div class="hobby">
    <img
      src="https://cdn-icons-png.flaticon.com/512/3055/3055855.png"
      alt="football"
      width="150px"
      height="150px"
    />
    <h2>{{hobby3}}</h2>
  </div>
  <div class="hobby">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2656/2656469.png"
      alt="football"
      width="150px"
      height="150px"
    />
    <h2>{{hobby4}}</h2>
  </div>
  <div class="hobby">
    <img
      src="https://cdn-icons-png.flaticon.com/512/4721/4721058.png"
      alt="football"
      width="150px"
      height="150px"
    />
    <h2>{{hobby5}}</h2>
  </div>
</div>

<a href="/">Вернуться на главную страницу</a>